.container{
    display: none;
    max-width: 950vw;
    min-width: 80vw;
}
.choice-container{
    display: flex;
    column-gap: 25px;
    margin-bottom: 16px;
    background-color: white;
    align-items: center;
}
.choice-container:hover{
    box-shadow: 0 0.4rem 0 rgba(85,165,235,0.5);
    cursor: pointer;
    transform: translateY(-0.1rem);
}

.choice-prefix{
   background-color: #56a5eb;
   padding: 15px  25px;
   color: white;
   font-weight: 700;
   min-width: 15vw;
   max-width: 20vw;
}
.bt{
    margin-top: 15px;
    margin-right: 5vw;
}



/* .modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    background-color:#56a5eb;
    border-radius: 15px;
    opacity: 1;
    color:#56a5eb;
} */

/* .hint{
    color: white;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
} */

.correct{
    background-color: green;
    color: white;
}

.wrong{
    background-color: red;
    color: white;
}

.score{
    letter-spacing: 5px;
    position: absolute;
    top: 1.5%;
    right: 5%;
    font-size: 4.5rem;
    color: #56a5eb;
    border: 1px solid #56a5eb;
    padding: 10px;
    border-radius: 50%;
}

.questionCount{
    color: #56a5eb;
    position: absolute;
    left: 5%;
    top: 5%;
}

.loader {
    position: absolute;
    border: 10px solid #807e7e; /* Light grey */
    border-top: 10px solid #3498db; /* Blue */
    border-radius: 50%;
    width:80px;
    height: 80px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  @media (max-width:500px) {
    .score{
        top: 2%;
        right: 2%;
        font-size: 3rem;
        padding: 10px;
    }

    .questionCount,.questionNo{
        font-size: 25px;
    }

    #question{
        font-size: large;
    }

  }

  
  @media (max-width:400px) {
    .score{
        top: 2%;
        right: 2%;
        font-size: 2.5rem;
        padding: 7px;
    }

    .questionCount,.questionNo{
        font-size: 20px;
    }

    #question{
        font-size: medium;
    }

  }

  @media (max-width:320px) {
    .score{
        top: 1%;
        right: 1%;
        font-size: 2rem;
        padding: 5px;
    }

    .questionCount,.questionNo{
        font-size: 20px;
    }

    #question{
        font-size: 18px;
    }

  }